<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.dao.PartMapper">
  <resultMap id="BaseResultMap" type="com.javaweb.entity.Part">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="partnumbering" jdbcType="CHAR" property="partnumbering" />
    <result column="partcategoryid" jdbcType="INTEGER" property="partcategoryid" />
    <result column="partname" jdbcType="VARCHAR" property="partname" />
    <result column="purchaseprice" jdbcType="DOUBLE" property="purchaseprice" />
    <result column="salesprice" jdbcType="DOUBLE" property="salesprice" />
    <result column="specifications" jdbcType="CHAR" property="specifications" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="partflag" jdbcType="CHAR" property="partflag" />
    <result column="supplierid" jdbcType="INTEGER" property="supplierid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, partnumbering, partcategoryid, partname, purchaseprice, salesprice, specifications, 
    remarks, partflag, supplierid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from part
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from part
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javaweb.entity.Part">
    insert into part (id, partnumbering, partcategoryid, 
      partname, purchaseprice, salesprice, 
      specifications, remarks, partflag, 
      supplierid)
    values (#{id,jdbcType=INTEGER}, #{partnumbering,jdbcType=CHAR}, #{partcategoryid,jdbcType=INTEGER}, 
      #{partname,jdbcType=VARCHAR}, #{purchaseprice,jdbcType=DOUBLE}, #{salesprice,jdbcType=DOUBLE}, 
      #{specifications,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR}, #{partflag,jdbcType=CHAR}, 
      #{supplierid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.javaweb.entity.Part">
    insert into part
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="partnumbering != null">
        partnumbering,
      </if>
      <if test="partcategoryid != null">
        partcategoryid,
      </if>
      <if test="partname != null">
        partname,
      </if>
      <if test="purchaseprice != null">
        purchaseprice,
      </if>
      <if test="salesprice != null">
        salesprice,
      </if>
      <if test="specifications != null">
        specifications,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="partflag != null">
        partflag,
      </if>
      <if test="supplierid != null">
        supplierid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="partnumbering != null">
        #{partnumbering,jdbcType=CHAR},
      </if>
      <if test="partcategoryid != null">
        #{partcategoryid,jdbcType=INTEGER},
      </if>
      <if test="partname != null">
        #{partname,jdbcType=VARCHAR},
      </if>
      <if test="purchaseprice != null">
        #{purchaseprice,jdbcType=DOUBLE},
      </if>
      <if test="salesprice != null">
        #{salesprice,jdbcType=DOUBLE},
      </if>
      <if test="specifications != null">
        #{specifications,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="partflag != null">
        #{partflag,jdbcType=CHAR},
      </if>
      <if test="supplierid != null">
        #{supplierid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javaweb.entity.Part">
    update part
    <set>
      <if test="partnumbering != null">
        partnumbering = #{partnumbering,jdbcType=CHAR},
      </if>
      <if test="partcategoryid != null">
        partcategoryid = #{partcategoryid,jdbcType=INTEGER},
      </if>
      <if test="partname != null">
        partname = #{partname,jdbcType=VARCHAR},
      </if>
      <if test="purchaseprice != null">
        purchaseprice = #{purchaseprice,jdbcType=DOUBLE},
      </if>
      <if test="salesprice != null">
        salesprice = #{salesprice,jdbcType=DOUBLE},
      </if>
      <if test="specifications != null">
        specifications = #{specifications,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="partflag != null">
        partflag = #{partflag,jdbcType=CHAR},
      </if>
      <if test="supplierid != null">
        supplierid = #{supplierid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javaweb.entity.Part">
    update part
    set partnumbering = #{partnumbering,jdbcType=CHAR},
      partcategoryid = #{partcategoryid,jdbcType=INTEGER},
      partname = #{partname,jdbcType=VARCHAR},
      purchaseprice = #{purchaseprice,jdbcType=DOUBLE},
      salesprice = #{salesprice,jdbcType=DOUBLE},
      specifications = #{specifications,jdbcType=CHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      partflag = #{partflag,jdbcType=CHAR},
      supplierid = #{supplierid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询零件信息 -->
  <select id="selectParts" resultType="com.javaweb.views.PartsInfo">
	 SELECT
		p.partnumbering,
		p.id AS partid,
		p.partname,
		c.id AS categoryid,
		c.numbering as catenumbering,
		c.partcategory,
		p.specifications,
		s.supplierName,
		s.contacts,
		s.contactInfo,
		p.salesprice,
		p.partflag
	FROM
		part AS p
	JOIN partcategory AS c ON (p.partcategoryid = c.id)
	JOIN supplier AS s ON (s.id = p.supplierid)
	<where>
		p.partflag = '1'
		<if test="keyworld!=null and keyworld!=''">
			and p.partname like concat('%',#{keyworld},'%')
		</if>
	</where> 
  </select>
</mapper>