<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.dao.PartcategoryMapper">
  <resultMap id="BaseResultMap" type="com.javaweb.entity.Partcategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="numbering" jdbcType="CHAR" property="numbering" />
    <result column="partcategory" jdbcType="VARCHAR" property="partcategory" />
    <result column="partcatFlag" jdbcType="CHAR" property="partcatflag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, numbering, partcategory, partcatFlag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from partcategory
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from partcategory
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javaweb.entity.Partcategory">
    insert into partcategory (id, numbering, partcategory, 
      partcatFlag)
    values (#{id,jdbcType=INTEGER}, #{numbering,jdbcType=CHAR}, #{partcategory,jdbcType=VARCHAR}, 
      #{partcatflag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javaweb.entity.Partcategory">
    insert into partcategory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="numbering != null">
        numbering,
      </if>
      <if test="partcategory != null">
        partcategory,
      </if>
      <if test="partcatflag != null">
        partcatFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="numbering != null">
        #{numbering,jdbcType=CHAR},
      </if>
      <if test="partcategory != null">
        #{partcategory,jdbcType=VARCHAR},
      </if>
      <if test="partcatflag != null">
        #{partcatflag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javaweb.entity.Partcategory">
    update partcategory
    <set>
      <if test="numbering != null">
        numbering = #{numbering,jdbcType=CHAR},
      </if>
      <if test="partcategory != null">
        partcategory = #{partcategory,jdbcType=VARCHAR},
      </if>
      <if test="partcatflag != null">
        partcatFlag = #{partcatflag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javaweb.entity.Partcategory">
    update partcategory
    set numbering = #{numbering,jdbcType=CHAR},
      partcategory = #{partcategory,jdbcType=VARCHAR},
      partcatFlag = #{partcatflag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 查询所有的零件的类别 -->
  <select id="selectAllPartCategory" resultMap="BaseResultMap">
  	select 
	<include refid="Base_Column_List" />
	from partcategory 
	<where>
		<choose>
			<when test="status!=null and status!=''">
				and partcategory.partcatFlag=#{status}
			</when>
			<otherwise>
				and partcategory.partcatFlag='1'
			</otherwise>
		</choose> 
	</where>
  </select>
</mapper>