<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaweb.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.javaweb.entity.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pername" jdbcType="VARCHAR" property="pername" />
    <result column="authcategory" jdbcType="VARCHAR" property="authcategory" />
    <result column="perurl" jdbcType="VARCHAR" property="perurl" />
    <result column="perflag" jdbcType="CHAR" property="perflag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pername, authcategory, perurl, perflag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.javaweb.entity.Permission">
    insert into permission (id, pername, authcategory, 
      perurl, perflag)
    values (#{id,jdbcType=INTEGER}, #{pername,jdbcType=VARCHAR}, #{authcategory,jdbcType=VARCHAR}, 
      #{perurl,jdbcType=VARCHAR}, #{perflag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javaweb.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pername != null">
        pername,
      </if>
      <if test="authcategory != null">
        authcategory,
      </if>
      <if test="perurl != null">
        perurl,
      </if>
      <if test="perflag != null">
        perflag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pername != null">
        #{pername,jdbcType=VARCHAR},
      </if>
      <if test="authcategory != null">
        #{authcategory,jdbcType=VARCHAR},
      </if>
      <if test="perurl != null">
        #{perurl,jdbcType=VARCHAR},
      </if>
      <if test="perflag != null">
        #{perflag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.javaweb.entity.Permission">
    update permission
    <set>
      <if test="pername != null">
        pername = #{pername,jdbcType=VARCHAR},
      </if>
      <if test="authcategory != null">
        authcategory = #{authcategory,jdbcType=VARCHAR},
      </if>
      <if test="perurl != null">
        perurl = #{perurl,jdbcType=VARCHAR},
      </if>
      <if test="perflag != null">
        perflag = #{perflag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javaweb.entity.Permission">
    update permission
    set pername = #{pername,jdbcType=VARCHAR},
      authcategory = #{authcategory,jdbcType=VARCHAR},
      perurl = #{perurl,jdbcType=VARCHAR},
      perflag = #{perflag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 获取所有的大类 -->
  <select id="getAllPermissonCategory" resultType="String">
  	 select distinct permission.authcategory
     from permission
  </select>
  
  <!-- 获取用户所有的权限 -->
  <select id="getAllUserPermission" resultMap="BaseResultMap" parameterType="String">
  	select permission.id,permission.authcategory,permission.pername,permission.perurl
	from account 
	left join userrights on(account.id=userrights.accountid)
	left join permission on(userrights.permissionid=permission.id)
	where account.accountnumber=#{accountnumber}
	and permission.perflag='1'
  </select>
  
  <!-- 获取所有的权限 -->
  <select id="selectAllPermission" resultType="com.javaweb.entity.Permission">
  	select * 
  	from permission
  	where permission.perflag='1'
  </select>
</mapper>